:root{
  --header: #efcfe3;
  
}


body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #b3dee2;
}

main{
  flex-grow: 1;
}

.cart{
  background-color: #e27396;
  min-height: 100vh;
}

.cuteheader{
  background-color: var(--header);
  color: aliceblue;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

/* .card {
  width: 10vh;
  height: 15vh;
} */
.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
}